<template>
  <v-data-table
    :headers="headers"
    :items="tareas"
    class="elevation-1"
  >
    <template v-slot:item.status="{ item }">
      <v-chip :color="getColor(item.status)" dark>
        {{ item.status }}
      </v-chip>
    </template>
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Tareas</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Create New Task
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.title"
                      label="Titulo"
                      :disabled="!isEdit"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.description"
                      label="Descripción"
                      :disabled="!isEdit"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-select
                      v-model="editedItem.status"
                      :items="estados"
                      item-text="title"
                      item-value="value"
                      label="estado"
                      return-value
                      single-line
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">
                Cancelar
              </v-btn>
              <v-btn color="blue darken-1" text @click="save" v-if="isShow">
                Aceptar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >¿Está seguro de borrar la tarea?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="showItem(item)"> mdi-eye </v-icon>
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize"> Reset </v-btn>
    </template>
  </v-data-table>
</template>
<script>
import axios from "axios";
export default {
  data: () => ({
    estados: [
      { title: "Pending", value: 1 },
      { title: "Done", value: 2 },
      { title: "Deleted", value: 3 },
    ],
    isShow: true,
    isEdit: true,
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "Title",
        align: "start",
        sortable: false,
        value: "title",
      },
      { text: "Date", value: "created_at" },
      { text: "Status", value: "status" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    tareas: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Detail Task" : "Edit Task";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      axios.get("http://localhost:8081/ListTasks").then((result) => {
        console.log(result.data);
        this.tareas = result.data;
      });
    },
    showItem(item) {
      this.isShow = false;
      this.isEdit = false;
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    editItem(item) {
      this.editedIndex = this.tareas.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.isShow = true;
      this.isEdit = true;
      this.dialog = true;
    },
    getColor(status) {
      console.log(status)
      if (status == 1) return "blue";
      else return "orange";
    },

    deleteItem(item) {
      this.editedIndex = this.tareas.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      var bodyFormData = new FormData();
      bodyFormData.append("title", this.tareas[this.editedIndex].title);
      bodyFormData.append("id", this.tareas[this.editedIndex].id);
      bodyFormData.append(
        "description",
        this.tareas[this.editedIndex].description
      );
      bodyFormData.append("status", 3);
      console.log(bodyFormData);
      console.log(this.tareas[this.editedIndex]);
      axios.put("http://localhost:8081/Task", bodyFormData).then((result) => {
        console.log(result.data);
        this.initialize();
        //this.tareas = result.data;
      });
      //this.tareas.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      var bodyFormData = new FormData();
      console.log(this.editedIndex);
      if (this.editedIndex > -1) {
        Object.assign(this.tareas[this.editedIndex], this.editedItem);
        bodyFormData.append("title", this.editedItem.title);
        bodyFormData.append("id", this.editedItem.id);
        bodyFormData.append("description", this.editedItem.description);
        bodyFormData.append("status", this.editedItem.status);
        axios.put("http://localhost:8081/Task", bodyFormData).then((result) => {
          console.log(result.data);
          this.initialize();
          //this.tareas = result.data;
        });
      } else {
        this.isShow = false;
        bodyFormData.append("title", this.editedItem.title);
        bodyFormData.append("description", this.editedItem.description);
        bodyFormData.append("status", this.editedItem.status);
        console.log(bodyFormData);
        console.log(this.editedItem);
        axios
          .post("http://localhost:8081/Task", bodyFormData)
          .then((result) => {
            console.log(result.data);
            this.initialize();
            this.isShow = true;
            //this.tareas = result.data;
          });
        //this.tareas.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>