<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://www.zarego.com/wp-content/uploads/2017/12/logo-sticky-1-1.png"
          transition="scale-transition"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

        <span class="mr-2">Challenge Rodrigo Baccaro</span>
    </v-app-bar>

    <v-main>
      <Dashboard/>
    </v-main>
  </v-app>
</template>

<script>
import Dashboard from './components/Dashboard';

export default {
  name: 'App',

  components: {
    Dashboard,
  },

  data: () => ({
    //
  }),
};
</script>
